.single-pal{
  display: grid;
  grid-template-columns: 30% 50% 20%;
  border: 2px solid #008FCC;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.pal-name{
  margin-left: 5px;
  grid-column: 2;
  font-size: large;
  align-self: center;
}

.pal-country {
  font-size: 2rem;
  align-self: center;
  grid-column: 3;
}

.pic{
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
  grid-column: 1;
  margin-left: 5px;
  height: 60px;
  width: 60px;
  border: 3px solid #008FCC;
  border-radius: 50%;
}