#messages-page-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100vh;
}

#messages-page-left {
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

#messages-page-right{
  display: grid;
  grid-template-rows: 10% 90%;
  border-radius: 1px;
}

#pals-list-title{
  text-align: center;
  font-size: x-large;
}