#messages-page-banner-container {
  background-color: var(--ocean-blue);
  display: grid;
  grid-template-columns: 5% 10% 60% 25%;
}

#messages-page-banner-container button {
  background-color: transparent;
  border: none;
  outline: none;
}

.messages-page-back {
  place-self: center;
}

.messages-page-back-arrow {
  font-size: 1.5rem;
  color: var(--lighter-blue);
}

.messages-page-banner-icons {
  font-size: 2.25rem;
  /* color: var(--lighter-blue); */
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
}

#messaging-page-notifications,
#messaging-page-my-profile {
  color: var(--lighter-blue);
}

.current-pal-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--birdie-blue);
  overflow: hidden;
}

.current-pal-profile-pic,
.messages-page-back {
  place-self: center;
}

.current-pal-info {
  margin-top: 5px;
}

p.pal-name {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
}

.pal-bio {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 0.9rem;
  color: var(--lighter-blue);
}

.current-pal-info p {
  margin: 5px 0 0 5px;
}

#my-profile {
  padding: 0 2px;
}

