:root {
  /* Light Mode Colors */
  --birdie-blue: #008FCC;
  --midnight-blue: #202473;
  --message-gray: #E4E4E4;
  --background: #CCDADE;
  --ocean-blue: #005470;
  --lighter-blue: #B2EDFF;
  --text-blue: #003049;
  --input-blue: #E8F0FE;

  /* Dark Mode Colors */
  --dark-background: rgb(6, 36, 53);
  --dark-border: rgb(0, 24, 32);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  transition: background-color .2, color .2s;
}

#app {
  height: 100%;
  width: 100%;
}

.productDetailPageLight {
  transition: background-color .2s;
}