.pal-messages-link {
  grid-column: 2 / 3;
  margin: 10px auto;
  height: 120px;
  width: 95%;
  border-radius: 5px;
  background-color: rgba(204, 218, 222, 0.15);
  color: var(--midnight-blue);
  border: 2px solid var(--text-blue);
  text-decoration: none;
  box-shadow: 2px 2px 0 var(--text-blue);
  transition: background-color .2s, border-color .2s, box-shadow .2s, color .2s;
}

.pal-container {
  display: grid;
  height: 100%;
  grid-template: 1fr 2fr / 1fr 5fr 1fr;
}

.pal-container:hover {
  cursor: pointer;
}

.pal-item-name {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1px;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

.pal-item-bio {
  grid-area: 2 / 2 / 3 / 3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: black;
}

.pal-item-country {
  grid-area: 1 / 3 / 3 / 4;
  place-self: center;
  font-size: 3rem;
}

.pal-item-picture-container {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
  place-self: center;
}

.pal-item-picture {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}