.message-by-me,
.message-by-pal {
  margin: 0 15px 15px;
  border-radius: 10px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.message-by-me {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--message-gray);
}

.message-by-pal {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #D3D3D3;
}

.message-media-image {
  border-radius: 2px;
  border: 2px solid rgb(77, 77, 77);
  margin: 5px ;
  cursor: pointer;
  height: 40px;
  width: 40px;
}