.my-message {
  margin-bottom: 15px;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 10px;
  background-color: var(--message-gray);
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}