.connection-container {
  display: grid;
  margin: 10px auto;
  height: 120px;
  width: 75%;
  grid-template: 1fr 2fr / 1fr 5fr 1fr;
  background-color: var(--message-gray);
  border-radius: 5px;
  color: var(--midnight-blue);
}

.connection-item-name {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1px;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

.connection-item-bio {
  grid-area: 2 / 2 / 3 / 3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: black;
}

.connection-item-country {
  grid-area: 1 / 3 / 3 / 4;
  place-self: center;
  font-size: 2rem;
}

.connection-item-picture-container {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--birdie-blue);
  grid-area: 1 / 1 / 3 / 2;
  place-self: center;
}

.connection-item-picture {
  display: inline;
  margin: 0 auto;
  /* margin-left: -25%; we need some way to center img if its non-square*/
  height: 100%;
  width: auto;
}

.notification-buttons {
  grid-area: 1 / 3 / 3 / 4;
  align-self: flex-end;
  width: 100%;
  min-height: 18px;
}

.notification-buttons-hidden {
  display: none;
}

.accept-connection {
  width: 50%;
  height: 18px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: green;
}

.accept-connection:hover {
  cursor: pointer;
}

.deny-connection {
  width: 50%;
  height: 18px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: red;
}

.deny-connection:hover {
  cursor: pointer;
}

.clicked-accepted {
  grid-area: 1 / 3 / 3 / 4;
  align-self: flex-end;
  width: 100%;
  height: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.clicked-accepted-hidden {
  display: none;
}

.clicked-rejected {
  grid-area: 1 / 3 / 3 / 4;
  align-self: flex-end;
  width: 100%;
  height: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.clicked-rejected-hidden {
  display: none;
}